<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <style>
       body{
        display: flex;
       }
        h1{
            text-align: center;
            font-size: 70px;
            color: red;
            margin-top: 50px;
        }
        p,a{
            margin-top: 30px;
            text-align: center;
        }
      

    </style>
</head>
<body>
    {{>navbar}}

    <h1>Error: 404 page not found</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci,<br> molestiae! Illo sed beatae ad quas quidem delectus, pariatur ratione aspernatur,<br> eum ullam adipisci esse a, reiciendis soluta voluptates blanditiis ut.</p>
     <button id="submitBtn">submit</button>
  

    <footer>
        <p>created with @manishKumar</p>
    </footer>

    
</body>
</html>