<!doctype html>
<html lang="en">

<head>
        {{>headerlinks}}
</head>

<body>
   {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid mt-3 main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- main header left  -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/man img.png" class="img-fluid" height="300px" width="350px" alt="...">
                        </figure>
                    </div>
                    <!-- main header right -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text_weather">Mern Stock Developer</span> YouTuber And Frelancer</h1>
                        <a href="https://www.linkedin.com/in/mkv-61a77b208/" target="_blank"><button>About
                                Me</button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->
    <footer>
        <p>created with @manishKumar</p>
    </footer>



    <!-- script link  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>